<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Bilibili下载的Download文件夹路径，最后不要加斜杠-->
    <add key="bilibiliDownloadPath" value="D:\movies\test"/>
    <!--转换的MP4文件存放路径，最后不要加斜杠-->
    <add key="outAllMp4Path" value="D:\movies\test_out"/>
    <!--文件夹名称前缀是否带原装avid的8位数字编号 1是 0不是-->
    <add key="isDirNameWithAvid" value="1"/>
    <!--MP4文件名称前缀是否带有原装文件夹排序编号 1是 0不是-->
    <add key="isMp4FileNameWithPageId" value="1"/>
    <!--是否根据文件大小自动确定休眠时间(是则设置的固定休眠时间不再使用) 1是 0不是-->
    <add key="isAutoCalcSleepTmes" value="1"/>
    <!--执行一个视频转换批处理后等待毫秒数 1秒=1000毫秒 1分钟=60000毫秒-->
    <add key="sleepTimes" value="15000"/>
    <!--是否只生成而不自动执行批处理(数据量小时 可以手动双击批处理执行) 1是 0不是-->
    <add key="isOnlyCreateBat" value="0"/>
    <!--是否运行完毕自动关闭程序界面(数据量过大时可以设置为1，方便结束时核对) 1是 0不是-->
    <add key="isAutoCloseApp" value="1"/>
    <!--是否先按需清理后再转换(先删除上次转换过的，再开始转换本次新加的)，若选0则 Bilibili下载的Download文件夹中内容在完成转换后会保留，但本程序下次运行可能会重复转换 1是 0不是-->
    <add key="isAutoClearBeforeConvert" value="1"/>   
    <!--Server酱Key 为空则不提醒-->
    <add key="serverChanKey" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
