<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" xsi:type="File"   		
		fileName="${basedir}/log_Run/${date:format=yyyy}/${date:format=yyyy-MM}/${shortdate}/log${shortdate}${logger}.txt"   
		archiveFileName="${basedir}/log_bak/log.{#}.txt"
        archiveEvery="Day"   
		archiveNumbering="Rolling"    
        maxArchiveFiles="7"      
		concurrentWrites="true"   
		keepFileOpen="false"     
		encoding="utf-8" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>
